@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  @apply cursor-default;
  @apply cursor-pointer;
  @apply cursor-auto;
  @apply cursor-wait;
  @apply cursor-text;
  @apply cursor-move;
  @apply cursor-help;
}

@layer base {
    @font-face {
      font-family: 'techFont';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/ShareTechMono-Regular.ttf") format('truetype');
    }

    @font-face {
      font-family: 'tiltPrism';
      font-style: normal;
      font-weight: 400;
      font-optical-sizing: auto;
      font-variation-settings: 
      "XROT" 0
      "YROT" 0;
      src: url("/TiltPrism-Regular-VariableFont_XROT,YROT.ttf") format('truetype');
    }

  }